// This only resets the base styles we have in core to avoid conflicts

.hljs .hljs-built_in,
.lisp .hljs-title,
.clojure .hljs-built_in,
.hljs-builtin-name,
.diff .hljs-meta,
.hljs-symbol,
.ruby .hljs-symbol .hljs-string,
.lisp .hljs-keyword,
.tex .hljs-special,
.hljs-prompt,
.hljs-regexp,
.hljs-attribute,
.css .hljs-keyword,
.hljs-variable,
.lisp .hljs-body,
.hljs-string,
.hljs-tag .hljs-string,
.tex .hljs-formula,
.hljs-number,
.ruby .hljs-constant,
.hljs-comment,
.hljs-doctag,
.hljs-meta,
.hljs-tag,
.hljs-tag .hljs-title,
.django .hljs-tag .hljs-keyword,
.hljs-class .hljs-title,
.haskell .hljs-type,
.vhdl .hljs-literal,
.tex .hljs-command,
.hljs-title,
.hljs-name,
.coffeescript .hljs-params,
.scss .hljs-meta,
.hljs-keyword,
.javascript .hljs-title,
.nginx .hljs-title,
.hljs-subst,
.hljs-request,
.hljs-status,
pre > code {
  color: unset;
}

.hljs-meta,
.hljs-tag,
.hljs-tag .hljs-title,
.django .hljs-tag .hljs-keyword,
.hljs-class .hljs-title,
.haskell .hljs-type,
.vhdl .hljs-literal,
.tex .hljs-command,
.hljs-title,
.hljs-name,
.coffeescript .hljs-params,
.scss .hljs-meta,
.hljs-keyword,
.javascript .hljs-title,
.nginx .hljs-title,
.hljs-subst,
.hljs-request,
.hljs-status,
.javascript .hljs-title,
.lisp .hljs-title,
.clojure .hljs-title,
.hljs-subst {
  font-weight: initial;
}

.hljs-deletion,
.hljs-addition {
  background: initial;
}

.hljs-comment,
.hljs-doctag {
  font-style: initial;
}

.hljs {
  background: #2b2b2b;
  color: #f8f8f2;

  /* Comment */
  .hljs-comment,
  .hljs-quote {
    color: #d4d0ab;
  }

/* Red */
  .hljs-variable,
  .hljs-template-variable,
  .hljs-tag,
  .hljs-name,
  .hljs-selector-id,
  .hljs-selector-class,
  .hljs-regexp,
  .hljs-deletion {
    color: #ffa07a;
  }

  /* Orange */
  .hljs-number,
  .hljs-built_in,
  .hljs-literal,
  .hljs-type,
  .hljs-params,
  .hljs-meta,
  .hljs-link {
    color: #f5ab35;
  }

  /* Yellow */
  .hljs-attribute {
    color: #ffd700;
  }

  /* Green */
  .hljs-string,
  .hljs-symbol,
  .hljs-bullet,
  .hljs-addition {
    color: #abe338;
  }

  /* Blue */
  .hljs-title,
  .hljs-section {
    color: #00e0e0;
  }

  /* Purple */
  .hljs-keyword,
  .hljs-selector-tag {
    color: #dcc6e0;
  }

  .hljs-emphasis {
    font-style: italic;
  }

  .hljs-strong {
    font-weight: bold;
  }
}

@media screen and (-ms-high-contrast: active) {
    .hljs-keyword,
    .hljs-selector-tag {
        font-weight: bold;
    }
}